
tmp/
tmp/**
*.rs
examples/**.rs
examples/**/*.rs
*.mossmap
.mossmap
*.mossbuild
.moss/**
**/.moss/**
examples/**.mossmap
examples/**.mossi
*.elc
__pycache__/
moss
margo
build/**
**/build/**
examples/**/build/
examples/projects/*/build/
examples/projects/*/.moss/

.aider*
